*.a
*.d
*.o
*.out
.vscode

## CPP00
# ex00
megaphone

# ex01
phonebook

# ex02
account
19920104_091532.log

## CPP01
zombies

# ex03
unnecessary_violence

# ex04
sed_is_for_losers
*.replace

# ex05
Harl_20

# ex06
harlFilter

## CPP02
program

#ex03
triangle


## CPP04
animal
interface


## CPP05
bureaucrat
*_shrubbery


## CPP06
# ex00
convert

# ex01
serialization

# ex02
identify_real_type

## CPP07

# ex00
swap_min_max

# ex01
iter

#ex02
array

## CPP08

# ex00
easy_find

# ex01
span

# ex02
mutant_stack


test

## CPP09

# ex00
btc

# ex01
rpn
